<% if defined?(schoolData[:ap][:'2013'][:score1]) && (schoolData[:ap][:'2013'][:score1] != '') && defined?(schoolData[:ap][:'2013'][:score2]) && (schoolData[:ap][:'2013'][:score2] != '') && defined?(schoolData[:ap][:'2013'][:score3]) && (schoolData[:ap][:'2013'][:score3] != '')  && defined?(schoolData[:ap][:'2013'][:score4]) && (schoolData[:ap][:'2013'][:score4] != '') && defined?(schoolData[:ap][:'2013'][:score5]) && (schoolData[:ap][:'2013'][:score5] != '')
	then %>
		<div class="row medium-uncollapse large-collapse">
			<div class="small-12 columns"><h2>Advanced Placement Tests</h2></div>
		</div>
		
		<div class="row">
			<div class="small-12 medium-4 columns">
				<p class="score"><%= ((schoolData[:ap][:'2013'][:score3].to_i + schoolData[:ap][:'2013'][:score4].to_i + schoolData[:ap][:'2013'][:score5].to_i)/(schoolData[:ap][:'2013'][:'1112enroll'].to_f)).round(2) %></p>
				<p class="scoreDetails2">scores of 3 or higher per student<p>
				<p class="scoreDetails2 school"><%= if defined?(schoolData[:ap][:'2013'][:score3]) && (schoolData[:ap][:'2013'][:score3] != '') && (schoolData[:ap][:'2013'][:takers] != '0') then ((((schoolData[:ap][:'2013'][:takers].to_f)/(schoolData[:ap][:'2013'][:'1112enroll'].to_f))*100).to_i) else 0 end %>% of students took an AP exam</span></p>
			</div>
			
			<div class="small-12 medium-8 columns">
				<div id="ap" class="ct-chart columns"></div>
					<script>
	var data = {
		labels: ['1', '2', '3', '4', '5'],
		series: [
			[<%= if defined?(schoolData[:ap][:'2013'][:score1]) && (schoolData[:ap][:'2013'][:score1] != '') then schoolData[:ap][:'2013'][:score1] end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:score2]) && (schoolData[:ap][:'2013'][:score2] != '') then schoolData[:ap][:'2013'][:score2] end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:score3]) && (schoolData[:ap][:'2013'][:score3] != '') then schoolData[:ap][:'2013'][:score3] end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:score4]) && (schoolData[:ap][:'2013'][:score4] != '') then schoolData[:ap][:'2013'][:score4] end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:score5]) && (schoolData[:ap][:'2013'][:score5] != '') then schoolData[:ap][:'2013'][:score5] end %>]
			,
			[<%= if defined?(schoolData[:ap][:'2013'][:'1112enroll']) && (schoolData[:ap][:'2013'][:'1112enroll'] != '') then (stateData[:ap][:'2013'][:'score1'].to_f)/(stateData[:ap][:'2013'][:'1112enroll'].to_f)*(schoolData[:ap][:'2013'][:'1112enroll'].to_f) end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:'1112enroll']) && (schoolData[:ap][:'2013'][:'1112enroll'] != '') then (stateData[:ap][:'2013'][:'score2'].to_f)/(stateData[:ap][:'2013'][:'1112enroll'].to_f)*(schoolData[:ap][:'2013'][:'1112enroll'].to_f) end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:'1112enroll']) && (schoolData[:ap][:'2013'][:'1112enroll'] != '') then (stateData[:ap][:'2013'][:'score3'].to_f)/(stateData[:ap][:'2013'][:'1112enroll'].to_f)*(schoolData[:ap][:'2013'][:'1112enroll'].to_f) end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:'1112enroll']) && (schoolData[:ap][:'2013'][:'1112enroll'] != '') then (stateData[:ap][:'2013'][:'score4'].to_f)/(stateData[:ap][:'2013'][:'1112enroll'].to_f)*(schoolData[:ap][:'2013'][:'1112enroll'].to_f) end %>,
			<%= if defined?(schoolData[:ap][:'2013'][:'1112enroll']) && (schoolData[:ap][:'2013'][:'1112enroll'] != '') then (stateData[:ap][:'2013'][:'score5'].to_f)/(stateData[:ap][:'2013'][:'1112enroll'].to_f)*(schoolData[:ap][:'2013'][:'1112enroll'].to_f) end %>]
		]
	};

	var options = { seriesBarDistance: 40 };

	new Chartist.Bar('#ap', data, options).on('draw', function(data) {
		if(data.type === 'bar') {
			data.element.attr({ style: 'stroke-width: 40px'});
		}
	});
	</script>
			</div>

<!-- 			<div class="small-12 column">
				<p class="description">API score is a composite number measuring academic performance and growth on statewide assessments. Standardized Reporting and Testing (STAR) and the California High School Exit Examination. API ranges in scale from 200 to 1,000. California has set 800 as the API target for all schools to meet.</p>
			</div> -->
		</div>
<% end %>