<div class="row medium-uncollapse large-collapse">
	<div class=" small-centered small-12 columns">
		<ul class="breadcrumbs">
			<li><a href="../../../index.html">Fathoms</a></li>
			<li><a href="../../<%= countyData[:slug] %>.html"><%= countyData[:name] %></a></li>
			<li><a href="../<%= districtData[:slug] %>.html"><%= districtData[:name] %></a></li>
			<li><a href="#"><%= schoolData[:name] %></a></li>
		</ul>
	</div>
</div>