		<div class="row">
			<div class="small-12 columns"><h2>California High School Exit Exams</h2></div>
		</div>

		<div class="row">
			<div class="percentage small-12 medium-4 columns">
				<h3>English</h3>
				<p class="score english"><%= if defined?(schoolData[:cahsee][:ela][:'2014'][:passed]) && (schoolData[:cahsee][:ela][:'2014'][:passed] != '') && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:ela][:'2014'][:notpassed]) && (schoolData[:cahsee][:ela][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0'))
					then (((schoolData[:cahsee][:ela][:'2014'][:passed].to_f)/(schoolData[:cahsee][:ela][:'2014'][:notpassed].to_f + schoolData[:cahsee][:ela][:'2014'][:passed].to_f)*100).to_i) else '-'
				end%>%</p>
				<p class="scoreDetails2"><span class="passed numerator"><%= if defined?(schoolData[:cahsee][:ela][:'2014'][:passed]) && (schoolData[:cahsee][:ela][:'2014'][:passed] != '') then schoolData[:cahsee][:ela][:'2014'][:passed] 
			end%> passed</span><br><%= if defined?(schoolData[:cahsee][:ela][:'2014'][:passed]) && (schoolData[:cahsee][:ela][:'2014'][:passed] != '') && defined?(schoolData[:cahsee][:ela][:'2014'][:notpassed]) && (schoolData[:cahsee][:ela][:'2014'][:notpassed] != '')then schoolData[:cahsee][:ela][:'2014'][:passed].to_i + schoolData[:cahsee][:ela][:'2014'][:notpassed].to_i end %> tested</p>
				<p class="scoreDetails2 english"><%= if defined?(schoolData[:cahsee][:ela][:'2014'][:passed]) && (schoolData[:cahsee][:ela][:'2014'][:passed] != '') && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:ela][:'2014'][:notpassed]) && (schoolData[:cahsee][:ela][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0'))
					then difference = (((schoolData[:cahsee][:ela][:'2014'][:passed].to_f)/(schoolData[:cahsee][:ela][:'2014'][:notpassed].to_f + schoolData[:cahsee][:ela][:'2014'][:passed].to_f)*100).to_i)-(((stateData[:cahsee][:ela][:'2014'][:passed].to_f)/(stateData[:cahsee][:ela][:'2014'][:notpassed].to_f + stateData[:cahsee][:ela][:'2014'][:passed].to_f)*100).to_i)
						if difference > 0 then difference.to_s + '% above average' else (difference*-1).to_s + '% below average' 
			end end%></p>
			</div>
					
			<div class="graphics small-12 medium-8 columns">
				<div class="row cahseeIcons">
					<%= if defined?(schoolData[:cahsee][:ela][:'2014'][:passed]) && (schoolData[:cahsee][:ela][:'2014'][:passed] != '') && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:ela][:'2014'][:notpassed]) && (schoolData[:cahsee][:ela][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:ela][:'2014'][:passed] != '0'))
					then score = (((schoolData[:cahsee][:ela][:'2014'][:passed].to_f)/(schoolData[:cahsee][:ela][:'2014'][:notpassed].to_f + schoolData[:cahsee][:ela][:'2014'][:passed].to_f)*100).to_i) 
							$i = 0
							$j = 0
							$html = ''
							fullIcon = (score/10).floor
							clearIcon = 10-fullIcon
							until $i >= fullIcon  do 
								$html = $html + '<img class="infographicIcon small-2" src="../../../images/book.png">'
								$i +=1
							end
							until $j >= clearIcon  do
								$html = $html + '<img class="infographicIcon small-2 opacity" src="../../../images/book.png">'
								$j +=1
							end
							$html
					end %>	
				</div>

			</div>
		</div>
			
		<div id="cahseeMath" class="row">
			<div class="percentage small-12 medium-4 columns">
				<h3>Math</h3>
				<p class="score math"><%= if defined?(schoolData[:cahsee][:math][:'2014'][:passed]) && (schoolData[:cahsee][:math][:'2014'][:passed] != '') && (schoolData[:cahsee][:math][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:math][:'2014'][:notpassed]) && (schoolData[:cahsee][:math][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:math][:'2014'][:passed] != '0'))
					then (((schoolData[:cahsee][:math][:'2014'][:passed].to_f)/(schoolData[:cahsee][:math][:'2014'][:notpassed].to_f + schoolData[:cahsee][:math][:'2014'][:passed].to_f)*100).to_i) else '-'
				end%>%</p>
				<p class="scoreDetails2"><span class="passed numerator"><%= if defined?(schoolData[:cahsee][:math][:'2014'][:passed]) && (schoolData[:cahsee][:math][:'2014'][:passed] != '') then schoolData[:cahsee][:math][:'2014'][:passed] 
			end%> passed</span><br><%= if defined?(schoolData[:cahsee][:math][:'2014'][:passed]) && (schoolData[:cahsee][:math][:'2014'][:passed] != '') && defined?(schoolData[:cahsee][:math][:'2014'][:notpassed]) && (schoolData[:cahsee][:math][:'2014'][:notpassed] != '')then schoolData[:cahsee][:math][:'2014'][:passed].to_i + schoolData[:cahsee][:math][:'2014'][:notpassed].to_i end %> tested</p>
				<p class="scoreDetails2 math"><%= if defined?(schoolData[:cahsee][:math][:'2014'][:passed]) && (schoolData[:cahsee][:math][:'2014'][:passed] != '') && (schoolData[:cahsee][:math][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:math][:'2014'][:notpassed]) && (schoolData[:cahsee][:math][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:math][:'2014'][:passed] != '0'))
					then difference = (((schoolData[:cahsee][:math][:'2014'][:passed].to_f)/(schoolData[:cahsee][:math][:'2014'][:notpassed].to_f + schoolData[:cahsee][:math][:'2014'][:passed].to_f)*100).to_i)-(((stateData[:cahsee][:math][:'2014'][:passed].to_f)/(stateData[:cahsee][:math][:'2014'][:notpassed].to_f + stateData[:cahsee][:math][:'2014'][:passed].to_f)*100).to_i)
						if difference > 0 then difference.to_s + '% above average' else (difference*-1).to_s + '% below average' 
			end end%></p>
			</div>
					
			<div class="graphics small-12 medium-8 columns">
				<div class="row cahseeIcons">
					<%= if defined?(schoolData[:cahsee][:math][:'2014'][:passed]) && (schoolData[:cahsee][:math][:'2014'][:passed] != '') && (schoolData[:cahsee][:math][:'2014'][:passed] != '0') && defined?(schoolData[:cahsee][:math][:'2014'][:notpassed]) && (schoolData[:cahsee][:math][:'2014'][:notpassed] != '' && (schoolData[:cahsee][:math][:'2014'][:passed] != '0'))
					then score = (((schoolData[:cahsee][:math][:'2014'][:passed].to_f)/(schoolData[:cahsee][:math][:'2014'][:notpassed].to_f + schoolData[:cahsee][:math][:'2014'][:passed].to_f)*100).to_i) 
							$i = 0
							$j = 0
							$html = ''
							fullIcon = (score/10).floor
							clearIcon = 10-fullIcon
							until $i >= fullIcon  do 
								$html = $html + '<img class="infographicIcon small-2" src="../../../images/calculator.png">'
								$i +=1
							end
							until $j >= clearIcon  do
								$html = $html + '<img class="infographicIcon small-2 opacity" src="../../../images/calculator.png">'
								$j +=1
							end
							$html
					end %>	
				</div>

			</div>

<!-- 			<div class="small-12 column">
				<p class="description">API score is a composite number measuring academic performance and growth on statewide assessments. Standardized Reporting and Testing (STAR) and the California High School Exit Examination. API ranges in scale from 200 to 1,000. California has set 800 as the API target for all schools to meet.</p>
			</div> -->
		</div>