<div class="row medium-uncollapse large-collapse">
	<div class=" small-centered small-12 columns">
		<p id="fathoms"><a href="https://www.fathoms.org/">F</a></p>
		<ul id="nav">
			<li><a href="../../<%= countyData[:slug] %>"><%= countyData[:name] %></a></li>
			<li>/</li>
			<li><a href="../<%= districtData[:slug] %>"><%= districtData[:name] %></a></li>
			<li>/</li>
			<li><%= schoolData[:name] %></li>
		</ul>
	</div>
</div>

<div class="row medium-uncollapse large-collapse">
	<div id="title" class="small-12 columns">
		<% a = schoolData[:name].length
		case
			when a < 15
			  titleLength = 'short'
			when a < 30
			  titleLength = 'medium'
			else
			  titleLength = 'long'
		end %>
		<h1 class="<%= titleLength %>"><%= schoolData[:name] %></h1>
	</div>
</div>