<% if defined?(schoolData[:sat][:'2013'][:averageV]) && (schoolData[:sat][:'2013'][:averageV] != '') 
	then %>

<div id ="sat" class="row medium-uncollapse large-collapse">
			<div class="small-12 columns"><h2>SAT Scores</h2></div>
			<div class="small-12 medium-6 columns">
				<p class="score"><%= schoolData[:sat][:'2013'][:averageV].to_i + schoolData[:sat][:'2013'][:averageM].to_i + schoolData[:sat][:'2013'][:averageW].to_i %></p>
				<p class="scoreDetails2"><%= (differential = (schoolData[:sat][:'2013'][:averageV].to_i + schoolData[:sat][:'2013'][:averageM].to_i + schoolData[:sat][:'2013'][:averageW].to_i - ( stateData[:sat][:'2013'][:averageV].to_i + stateData[:sat][:'2013'][:averageM].to_i + stateData[:sat][:'2013'][:averageW].to_i)))
						if (differential > 0) then (differential.to_s + ' above state average')
						elsif differential == 0 then 'At state average'
						else  (differential*-1).to_s + ' below state average'
						end
					%></p>
				<div id="satPie" class="ct-chart satModule"></div>
				<script>
	new Chartist.Pie('#satPie', {
		series: [
			<%= schoolData[:sat][:'2013'][:averageV] %>,
			<%= 800-(schoolData[:sat][:'2013'][:averageV].to_i) %>,
			<%= schoolData[:sat][:'2013'][:averageM] %>,
			<%= 800-(schoolData[:sat][:'2013'][:averageM].to_i) %>,
			<%= schoolData[:sat][:'2013'][:averageW] %>,
			<%= 800-(schoolData[:sat][:'2013'][:averageW].to_i) %>
			]
	},{
		donut: true,
		donutWidth: 60,
		startAngle: 270,
		total: 2400,
		showLabel: false
	});
	var $chart = $('#satPie');
	</script>
			</div>
			<div class="satModule small-12 medium-6 columns">
				<h3>Reading</h3>
				<div class="row">
					<div class="small-2 columns">
						<img src="../../../images/book.png">
					</div>
					<div class="small-4 columns">
						<p class="score2 english"><%= schoolData[:sat][:'2013'][:averageV] %></p>
					</div>
					<div class="small-6 columns">
						<p class="scoreDetails2"><%= differential = schoolData[:sat][:'2013'][:averageV].to_i - stateData[:sat][:'2013'][:averageV].to_i
								if differential > 0 then differential.to_s + ' above state average'
								elsif differential == 0 then 'At state average'
								else (differential*-1).to_s + ' below state average'
								end %></p>
					</div>	
				</div>
			</div>
			<div class="satModule small-12 medium-6 columns">
				<h3>Math</h3>
				<div class="row">
					<div class="small-2 columns">
						<img src="../../../images/calculator.png">
					</div>
					<div class="small-4 columns">
						<p class="score2 math"><%= schoolData[:sat][:'2013'][:averageM] %></p>
					</div>
					<div class="small-6 columns">
						<p class="scoreDetails2"><%= differential = schoolData[:sat][:'2013'][:averageM].to_i - stateData[:sat][:'2013'][:averageM].to_i
								if differential > 0 then differential.to_s + ' above state average'
								elsif differential == 0 then 'At state average'
								else (differential*-1).to_s + ' below state average'
							end%></p>
					</div>	
				</div>
			</div>
			<div class="satModule small-12 medium-6 columns">
				<h3>Writing</h3>
				<div class="row">
					<div class="small-2 columns">
						<img src="../../../images/writing.png">
					</div>
					<div class="small-4 columns">
						<p class="score2 writing"><%= schoolData[:sat][:'2013'][:averageW] %></p>
					</div>
					<div class="small-6 columns">
						<p class="scoreDetails2"><%= differential = schoolData[:sat][:'2013'][:averageW].to_i - stateData[:sat][:'2013'][:averageW].to_i
								if differential > 0 then differential.to_s + ' above state average'
								elsif differential == 0 then 'At state average'
								else (differential*-1).to_s + ' below state average'
							end %></p>
					</div>	
				</div>
			</div>
</div>

<% else
	puts schoolData[:name]
end %>