      <link href="../stylesheets/foundation.min.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="../stylesheets/chartist.min.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="../stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />

      <script src="../javascripts/chartist.js"></script>  
      <script async src="../javascripts/jquery.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

    <title><%= countyData[:name] %> County School Districts</title>

      <meta name="description" content="Standardized testing, Exit Exams, SAT, and AP scores for California's public scools.">

      <meta name="keywords" content="california, schools, standardized testing, api, ap, sat, exit exams">
  
  </head>
  
  <body>

    <div class="row">
      <div class=" small-centered small-12 columns">
        <p id="fathoms"><a href="https://www.fathoms.org">F</a></p>
        <ul id="nav">
          <li><%= countyData[:name] %></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h1 ><%= countyData[:name] %> County</h1>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
      <table>
          <tr><th>District</th></tr>
            <% for @district in countyData[:districts] %>
              <tr><td><a href="<%= countyData[:slug] %>/<%= @district[1][:slug] %>"><%= @district[1][:name] %></a></td></tr>
            <% end %>
        </table>
      </div>
    </div>