      <link href="../../stylesheets/foundation.min.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="../../stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />

      <script sync src="../../javascripts/jquery.js"></script>
      <script sync src="../../javascripts/jquery.tablesorter.combined.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    
    <title><%= districtData[:name] %></title>

      <meta name="description" content="Standardized testing, Exit Exams, SAT, and AP scores for California's public scools.">

      <meta name="keywords" content="california, schools, standardized testing, api, ap, sat, exit exams">
  
  </head>
  
  <body>

    <div class="row">
      <div class=" small-centered small-12 columns">
        <p id="fathoms"><a href="https://www.fathoms.org">F</a></p>
        <ul id="nav">
          <li><a href="../<%= countyData[:slug] %>"><%= countyData[:name] %></a></li>
          <li>/</li>
          <li><%= districtData[:name] %></a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div id="title" class="small-12 columns">
        <h1><%= districtData[:name] %></h1>
      </div>
    </div>
    
    <div class="row">
      <div class="small-12 columns">
        <table id="myTable" class="tablesorter">
          <thead>
            <tr><th>Schools<div class="arrow"></div></th><th>Academic Performance Index<div class="arrow"></div></th></tr>
          </thead>
          <tbody>
            <% for school in districtData[:schools] %>
              <tr>
                <td><a href="<%= districtData[:slug] %>/<%= school[1][:slug] %>">
                <%= school[1][:name] %></a></td>
                <td class="apiTableData"><%= if defined?(school[1][:api][:'growth'][:'2013']) && (school[1][:api][:'growth'][:'2013'] != '0') then school[1][:api][:'growth'][:'2013'] else '-' end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    
    <script>
      $(function(){$("#myTable").tablesorter();});
    </script>