
    	<link href="../../../stylesheets/foundation.min.css" media="screen" rel="stylesheet" type="text/css" />
    	<link href="../../../stylesheets/chartist.min.css" media="screen" rel="stylesheet" type="text/css" />
    	<link href="../../../stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />

	    <script src="../../../javascripts/chartist.js"></script>	
	    <script src="../../../javascripts/jquery.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

		<title><%= schoolData[:name] %></title>

	    <meta name="description" content="Standardized testing, Exit Exams, SAT, and AP scores for California's public scools.">

	    <meta name="keywords" content="california, schools, standardized testing, api, ap, sat, exit exams">

    </head>

    <body>
    	<h1><%= schoolData[:name] %></h1>
    	<table>
					<tr><td>street</td><td><%= schoolData[:street] %></td></tr>
					<tr><td>city</td><td><%= schoolData[:city] %></td></tr>
					<tr><td>zip</td><td><%= schoolData[:zip] %></td></tr>
					<tr><td>state</td><td><%= schoolData[:state] %></td></tr>
		<table>
		</body>
</html>