---
title: Welcome to Middleman
---


<h1><%= schoolData[:name] %></h1>
<h3>County: <a href="../../<%= county %>.html"><%= county %></a></h3>
<h3>District: <a href="../<%= district %>.html"><%= districtData[:name] %></a></h3>
<h5>Math: <%= schoolData[:math] %></h5>
<h5>State Rank: <%= schoolData[:stateRank] %></h5>
<h5>English: <%= schoolData[:english] %></h5>
<h5>2013 API: <%= schoolData[:api13] %></h5>
<h5>2012 API: <%= schoolData[:api12] %></h5>
<h5>classSize: <%= schoolData[:classSize] %></h5>
<h5>enrollment: <%= schoolData[:enrollment] %></h5>
<h5>graduationRate: <%= schoolData[:graduationRate] %></h5>
<h5>latitude: <%= schoolData[:latitude] %></h5>
<h5>longitude: <%= schoolData[:longitude] %></h5>
<h5>street: <%= schoolData[:street] %></h5>
<h5>city: <%= schoolData[:city] %></h5>
<h5>zip: <%= schoolData[:zip] %></h5>
<h5>state: <%= schoolData[:state] %></h5>
